.hero-area {

    padding-top: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    min-height: 300px;

}

footer {
    background-color: rgb(93,93,93);
    color: #fff;
}

#my-pagination .pagination {
    text-align: center !important;
    display: block;
}

#my-pagination .pagination li {
    display: inline;
}

#my-pagination .pagination li.active a {
    border: 1px solid #ccc;
    color: rgb(236,236,236);
    background-color: rgb(66, 66, 66);
}

#my-pagination .pagination li a {
    border: 1px solid #ccc;
    background-color: rgb(236,236,236);
    color: rgb(66, 66, 66);
    display: inline-block;
    padding-left:10px; padding-right: 10px; 
    height:30px;
    border-radius: 4px;
}

#my-pagination .pagination li a:hover {
    text-decoration: none;
    border: 1px solid #ccc;
    color: rgb(236,236,236);
    background-color: rgb(66, 66, 66);
}

